@*@model List<MyText>*@

@{
    ViewData["title"] = "Home page";
    //ViewData["Keywords"] = "Project,Personal Blog,Personal Website";
  }
@section SEO{
    <meta name="keywords" content="Project,Personal Blog,Personal Website" />
    <meta name="description" content="Index Description" />
}

 <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>@ViewData["headingtitle"]</h1>
            <h1>Mohammad Hossein Mehryar</h1>
            <p>I'm <span class="typed" data-typed-items="Software Engineer, Developer, Freelancer, ATM Technician"></span></p>
        </div>
  @*      @foreach (var text in Model)
    {
        <div class="hero-container" data-aos="fade-in">
    <h1>@text.Id</h1>
    <h1>@text.Title</h1>
    <p>I'm <span class="typed" data-typed-items="@text.Description"></span></p>
    <img src="~/img/portfolio/@text.Image" width="50px"/>
    </div>
    }*@
      
    </section><!-- End Hero -->