@{
    ViewData["title"] = "Home page";
    //ViewData["Keywords"] = "Project,Personal Blog,Personal Website";
  }
@section SEO{
    <meta name="keywords" content="Project,Personal Blog,Personal Website" />
    <meta name="description" content="Index Description" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
