@{
    ViewData["Title"] = "Privacy Policy";
}
@*@section SEO{
    <meta name="keywords" content="Privacy Policy" />
    <meta name="description" content="Privacy Description" />
}*@
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
