@{
    ViewData["Title"] = "Shop";
    //ViewData["Keywords"] = "Online-Shop,Order,Shopping,The Best Shop";
}
@section SEO{
    <meta name="keywords" content="Online-Shop,Order,Shopping,The Best Shop" />
    <meta name="description" content="Shop Description"/>
}
<h2>This is Mehryar's Online Shop</h2>

@section Scripts{
    <script src="~/js/modal.js"></script>
}
   
